{% extends 'layout.html.twig' %}
 {% block stylesheet %}
     <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
     <link rel="stylesheet" type="text/css" href="/assets/css/egglisting.css">
 {% endblock %}
{% block title %}Détails{% endblock %}

{% block content %}
    <div class="egg-card container">
        <div class="egg-img">
            <img src="{{ egg.image }}">
        </div>
        <div class="desc">
            <h2 style="background-color: {{ egg.color }}">{{ egg.name }}</h2>
<ul>
    <li><span>Calibre :</span> {{ egg.caliber }}</li>
    <li><span>Rareté :</span> {{ egg.rarity }}</li>
    <li><span>Pouvoir :</span> {{ egg.power }}</li>
    <li><span>Origine :</span> {{ egg.country }}</li>
</ul>
            <div><a href="/Details/index"><button class="btn">Retour</button></a></div>
        </div>

        </div>


{% endblock %}